html body {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

* ::after, * ::before {
    box-sizing: inherit;
}

body {
    width: 100%;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.container {
    width: 1230px;
    margin: 0 auto;
}

.site-header {
    height: 100px;
    background-color: rgba(7, 7, 7, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    z-index: 10;
    position: relative;

}

.site-header__logo {
    margin: 0px 15px;
    width: 200px;
    display: block;

}

.site-header .container {
    display: flex;
    align-items: center;
}

.site-header__menu {
    flex: 1 1 100%;
}

.main-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu a {
    display: block;
    padding: 41px 16px;
    color: rgb(255, 255, 255);
    font-family: "Droid Sans", serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu a:hover {
    color: rgb(75, 202, 255);
    border-top: 3px solid #4bcaff;
}

.home-first_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-image: url("../img/home_first_screen.png");
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    margin-left: 50%;
}

.home-content-text .context-head-usual {

    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
    color: #ffffff;
    font-size: 48px;
    font-family: "Lato Light", serif;
    font-weight: 300;
}

.home-content-text .context_head-highlighted {
    font-family: "Lato - Bold", serif;
    font-weight: 700;
}

.home-content-text .context-description {
    display: flex;
    width: 665px;
    height: 60px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 300;
}

button,
button:active,
button:focus {
    outline: none;
}

.home-content-button {
    display: flex;
    justify-content: space-between;
    width: 431px;
    height: 65px;
    margin-top: 40px;
}

.home-content-button .btn-download {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.home-content-button .btn-download span {
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-content-button .btn-learn-more {
    width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}
.home-content-button .btn-download:hover, .btn-learn-more:hover{
    background-color: #4bcaff;;
}
.home-content-button .btn-learn-more span {
    color: #fefefe;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-content-available {
    display: flex;
    margin-top: 49px;

}

.home-content-available span {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 109px;
    height: 13px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 300;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #030303;
    opacity: 0.35;
    border-radius: 50px;
    margin: 0 7px;
}
.icon:hover{
    background-color: #72b3cc;
    opacity: 0.35;
}
.icon img{

}
.features {
    width: 100%;
    max-width: 100%;
    background-color: #f9f9f9;
    background-size: cover;
}
.container-align-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.head-tittle {
    color: rgb(65, 64, 66);
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.subhead-tittle {
    color: rgb(65, 64, 66);
    font-family: Lato, 'serif';
    font-size: 20px;
    font-weight: 300;
}

.heading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;
    margin-bottom: 30px;
}

.item-content a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.feature-title {
    color: rgb(65, 64, 66);
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.feature-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 170px;
    background: #4bcaff;
    border-radius: 100%;
}
.feature-logo:hover{
    text-decoration: none;
    background: #414042;
}
.feature-text {
    padding-top: 27px;
    display: flex;
    color: rgb(131, 131, 131);
    font-family: Lato, 'serif';
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.video {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background: url("../img/image-video.png");
    background-size: cover;
    height: 550px;
}
.video-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}
.btn-play-video {
    display: flex;
    width: 116px;
    height: 75px;
    background: url("../img/btn-play.png");
    margin-bottom: 38px;
}

.video-content-text {
    display: flex;
    flex-direction: column;
}

.video-content-text .tittle {
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
    color: #ffffff;
    font-size: 48px;
    font-family: "Lato Light", 'serif';
    font-weight: 300;
    margin-bottom: 27px;
}

.video-content-text .tittle span {
    font-family: "Lato - Bold", 'serif';
    font-weight: 700;
}

.video-content-text .description {
    width: 665px;
    height: 60px;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 300;
}
.price{
    width: 100%;
    max-width: 100%;
    height: 709px;
}
.price-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-card-box{
    width: 1028px;
    height: 455px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-price{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 415px;
    border: 1px solid #dad7d7;
    background-color: #f9f9f9;
}
.item-price span{
    color: #d7d7d7;
    font-family: Lato, 'serif';
    font-size: 17px;
    font-weight: 700;
    line-height: 27.49px;
    text-transform: uppercase;
}
.price-tag{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 115px;
    background-color: #91c46b;
}
.price-tag span{
    text-align: center;
    text-shadow: 0 1px 2px rgba(25, 22, 24, 0.3);
    color: #ffffff;
    font-family: "Droid Sans", 'serif';
    font-size: 85px;
    font-weight: 700;
    line-height: 27.49px;
    text-transform: uppercase;
}
.price-description ul{
    list-style-type: none;
    color: #d7d7d7;
    font-family: Lato, 'serif';
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.btn-price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 49px;
    background-color: #91c46b;
    border: 0;
    color: #fefefe;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.item-price:nth-child(2){
    width: 370px;
    height: 455px;
}
.item-price:nth-child(2) .price-tag{
    background-color: #4bcaff;
}
.item-price:nth-child(2) .price-description ul{
    color: #4bcaff;
}
.item-price:nth-child(2) .btn-price{
     background-color: #4bcaff;
}
.item-price:nth-child(2) >span{
    color: #4bcaff;
}
.item-price:nth-child(3) .price-tag{
    background-color: #fd7c00;
}
.item-price:nth-child(3) .btn-price{
    background-color: #fd7c00;
}
/*Testimonials*/
.testimonials {
    width: 100%;
    max-width: 100%;
    height: 380px;
    background-color: #f9f9f9;
}
.testimonials .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 513px;
    height: 159px;
    margin-top: 42px;
}

.testimonials-content-tittle {
    margin-top: 40px;
    color: #414042;
    font-family: "Lato - Black", serif;
    font-size: 36px;
    font-weight: 400;
}

.testimonials-icon {
    width: 141px;
    height: 159px;
}

.testimonials-quote__content {
    width: 334px;
    margin-left: 39px;
    color: #4bcaff;
    font-size: 14px;
    line-height: 18px;
    font-family: "Lato - Bold", serif;
    font-weight: 700;
    letter-spacing: -0.14px;
}

.author{
    float: right;
    text-align: right;
    font-family: "Lato - Bold Italic", serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.14px;
}

.show-gallery {
    width: 100%;
    max-width: 100%;
    background: #ffffff;
}

.show-gallery-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-gallery-tittle__head {
    color: #414042;
    font-family: "Lato - Black", 'serif';
    font-size: 36px;
    font-weight: 400;
}

.show-gallery-tittle__content {
    color: #414042;
    font-family: Lato, 'serif';
    font-size: 20px;
    font-weight: 300;
}

.items-of-gallery {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 302px;
    margin: 0 15px;

}
.item-image-active{
    display: flex;
    justify-content: center;
    align-content: center;
}
.item-image {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    border-radius: 10px;
}
.btn-plus{
    width: 19px;
    height: 19px;
    z-index: 10;
    background-image: url("../img/plus.png");
}
.item-image-active:hover{
    border-radius: 10px;
    background: #4bcaff;;
}

.screenshot {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 270px;
    height: 41px;
    background-color: #414042;
    opacity: 0.65;
    border-radius: 0 0 10px 10px;
    color: #4bcaff;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.description {
    text-align: center;
    color: #838383;
    font-family: Lato, 'serif';
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.download {
    width: 100%;
    max-width: 100%;
    height: 210px;
    background-color: #414042;
}

.download-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.download-content span {
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 55px;
    font-weight: 700;
}

.btn-download {
    width: 196px;
    height: 61px;
    background-color: #4bcaff;
    border-radius: 5px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-download span {
    color: #414042;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.map {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: url("../img/map.png") no-repeat;
    background-size: cover;
}
.map .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.contact-form {
    display: flex;
    justify-content: center;
    width: 324px;
    height: 460px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.1);
    background-color: #4bcaff;
    opacity: 0.8;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form span {
    justify-content: center;
    display: flex;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 36px;
    font-weight: 700;
}

.form-item {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 34px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin: 7px;
    border-radius: 10px;
}

.form-field {
    width: 100%;
    text-align: center;
    color: #d3d3d3;
    font-family: "Arial MT", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 38.4px;
    border: 0;
}

.message {
    width: 270px;
    height: 145px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}

.btn-send {
    width: 192px;
    height: 46px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 0 #313032;
    background-color: #414042;
    color: #72b3cc;
    font-family: Lato, 'serif';
    font-size: 15px;
    font-weight: 700;
}

.footer {
    width: 100%;
    max-width: 100%;
    height: 110px;
    background-color: #414042;
    padding-top: 50px;
    padding-bottom: 49px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content a {
    opacity: 0.25;
    color: #ffffff;
    font-family: Lato, 'serif';
    font-size: 12px;
    font-weight: 400;
}

.upper-case {
    text-transform: uppercase;
}